@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("/RubikDirt.ttf");
:root {
  --day-color: white;
  --night-color: black;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}
.body-hidden {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 16;
  background: #448aff;
  width: 100%;
  align-items: center;
}

nav .web-title {
  margin-left: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-family: kalam;
  font-weight: bold;
}
.Logo {
  margin-right: 1rem;
  width: 1.4rem;
  z-index: 22;
}
.Logo div {
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 4px;
  transition: all 0.3s;
}
.Logo-cross div:nth-child(1) {
  transform: rotateZ(40deg);

  transform-origin: 0;
}
.Logo-cross div:nth-child(3) {
  transform: rotateZ(-40deg);
  transform-origin: 0;
}
.Logo-cross div:nth-child(2) {
  width: 0;
}
/* _________________________________ */
/* Navigation popUp effect */
.nav-pop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  color: #fff;
  box-sizing: border-box;
  overflow: scroll;
  background: #448aff;
  z-index: 13;
  transition: all 0.3s;
}
.activenav {
  width: 100%;
}
.nav-pop li {
  list-style: none;
  line-height: 40px;
  font-weight: bold;
}

/*_________________________________*/

/* First Section of web */
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

/* __________________________________ */

/* div which contain profile photo */
div.photo {
  display: block;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border: 3px solid skyblue;
  border-radius: 50%;
  overflow: hidden;
}

/* css to make profile photo fit in div */
.photo img {
  display: none;
  width: 100%;
  height: 100%;
}
img.active {
  display: block;
  animation: slidePhoto 0.4s ease-in;
  transition: all 1s;
}
@keyframes slidePhoto {
  0% {
    transform: rotate(0deg);
    opacity: 0.3;
  }
  30% {
    transform: rotate(-40deg);
    opacity: 0.3;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
/* ____________________________ */

/* css for profile photo title */
div.photo-title {
  text-align: center;
  margin-top: 40px;
  font-size: 1.6rem;
  font-family: kalam;
  font-weight: bold;
  background-image: linear-gradient(to right, #d10e3d, #f350e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: type 2s ease;
  white-space: nowrap;
}

/* Animation for Profile Title */
@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
/* _______________________________ */

/* css for profile photo title description */
.photo-des {
  margin-top: 15px;
}

/* css for button under profile photo title */
.button a {
  margin-top: 22px;
  width: 280px;
  height: 30px;
  border: 2px solid;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #80d8ff;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

/* css for button hovering affect */
div.button a:hover {
  background: white;
}

/* __________________________________ */
/* css for Who is GOHARSHAHI */
.section03 {
  min-height: 100vh;
  color: #212121;
  padding: 1rem 1rem;
  font-family: Georgia;
  text-align: center;
}
.section03 h2 {
  font-size: 3rem;
  padding: 2rem 0;
  text-align: center;
}
.section03 p {
  line-height: 30px;
  color: #424242;
}
.section03 li {
  line-height: 28px;
  border-left: 4px solid grey;
  box-sizing: border-box;
  padding-left: 1rem;
  margin: 2rem;
}
/* _______________________________ */
/* css for Quotes under profile photo */

.section2 {
  text-align: center;
  width: 100%;
}
.cont-animated-Quote {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 70px;
  overflow-x: hidden;
  color: blue;
  opacity: 0.5;
}

.animated-Quote {
  display: none;
  text-align: center;
  font-size: 1rem;
  width: 100%;

  padding: 10px;
}

.cont-animated-Quote .active2 {
  display: block;
  animation: slide 0.3s ease-out;
  text-align: center;
}

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* ________________________________ */
/* css for zikre e qlab popup */
#zikrqalb {
  display: none;
  position: fixed;
  width: 80%;
  height: 500px;
  background: #eee;
  top: 80px;
  left: 10%;
}
#zikrqalb iframe {
  width: 100%;
  height: 100%;
}
#zikrqalb button {
  padding: 5px;
  color: blue;
  position: absolute;
  top: -6px;
  right: -6px;
}
.active {
  display: block !important;
}

/* css for picture card container */
div.pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 80px;
  box-sizing: border-box;
}

/*css for picture card   */
.pics .card {
}

/* css for pics to make them fit into div box */
.pics div img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

/* css for popup container */
#popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 9;
  background: linen;
  border-radius: 5px;
}

.popupimg {
  width: 100%;
  height: 100%;
}

#popup .popup-close-btn {
  position: absolute;
  color: white;
  font-size: 2rem;
  left: 1rem;
  bottom: 40px;
}
/* css for Biography */
.biography {
  box-sizing: border-box;
  padding: 0 1rem;
  min-height: 100vh;
  line-height: 30px;
}

.scrolltotop {
  position: fixed;
  background: yellow;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
}
footer {
  background: #448aff;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding: 2rem 1rem;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
footer a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid grey;
  line-height: 30px;
}
footer .team {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 8px;
  gap: 1rem;
}

footer .team-img {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  gap: 7px;
  font-size: 14px;
}
footer .image-box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
footer .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
footer p {
  font-size: 0.8rem;
  line-height: 20px;
}
.lastItem {
  text-align: center;
  font-size: 0.8rem;
  color: grey;
}
