@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
:root {
  --theme: #448AFF;
  
}
body {
  margin: 0;
  scroll-behavior: smooth;
}
.body-hidden {
  overflow: hidden;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb);
  
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia;
}
.prominent-Text {
  color: #fff;
  background: #333;
  border-radius: 4px;
}
nav {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 16;
  background: white;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Applies the blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  
  padding: 8px 0;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
}
.Logo {
  margin-right: 1rem;
  width: 1.4rem;
  z-index: 22;
}
nav .web-title {
  margin-left: 1rem;
  color: #424242;
  font-size: 1.4em;
  /* font-family: 'Courier New', Courier, monos; */
  font-family: 'Salsa';
  flex-shrink: 0;
  font-weight: bold;
  line-height: 0;
}
.Logo div {
  width: 100%;
  height: 3px;
  background: #424242;
  border-radius: 5px;
  margin-bottom: 4px;
  transition: all 0.3s;
}
.Logo-cross div:nth-child(1) {
  transform: rotateZ(40deg);
  transform-origin: 0;
}
.Logo-cross div:nth-child(3) {
  transform: rotateZ(-40deg);
  transform-origin: 0;
}
.Logo-cross div:nth-child(2) {
  width: 0;
}
/* css for navigation items*/
.activeNavItem {
  color: blue !important;
}
/* _________________________________ */
/* Navigation popUp effect */
.nav-pop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  color: #000;
  box-sizing: border-box;
  overflow: scroll;
  background: #fff;
  z-index: 13;
  line-height: 0;
  transition: all 0.3s;
  overflow: hidden;
}
.activenav {
  width: 100%;
}
.nav-pop li {
  list-style: none;
  line-height: 40px;
  font-weight: bold;

}

.nav-pop li a {
  text-decoration: none;
  color: #000;
}
.nav-pop li .visited {
  color: #fff;
  padding: 4px 6px;
  background: #000;
  border-radius: 6px;

}
@media (min-width:400px) {
  .nav-pop {
    position: relative;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    gap: 10px;
    margin: 0;
    margin-right: 1rem;
    line-height: 0;

  }
  nav {
    padding: 1rem 0;
  }
  nav .web-title {
    font-size: 2.5rem;
  }
  .Logo {
    display: none;
    width: 2rem;
  }
  .Logo div {
    height: 6px;
  }
}
/*_________________________________*/

/* First Section of web */
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
@media (min-width: 400px) {
  .section1 {
    min-height: fit-content;
  }
}

/* __________________________________ */

/* div which contain profile photo */
div.photo {
  display: block;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border: 3px solid skyblue;
  border-radius: 24%;
  rotate: 10deg;
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* css to make profile photo fit in div */
.photo img {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
img.active {
  display: block;
  animation: slidePhoto 0.6s ease-in;
  transition: all 1s;
  overflow: hidden;
}
@keyframes slidePhoto {
  0% {
    transform: rotate(0deg);
    opacity: 0.3;
  }
  30% {
    transform: rotate(-40deg);
    opacity: 0.3;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
/* ____________________________ */

/* css for profile photo title */
div.photo-title {
  text-align: center;
  margin-top: 40px;
  font-size: 1.6rem;
  font-family: kalam;
  font-weight: bold;
  background-image: linear-gradient(to right, #d10e3d, #f350e9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: type 2s ease;
  white-space: nowrap;
}

/* Animation for Profile Title */
@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
/* _______________________________ */

/* css for profile photo title description */
.photo-des {
  margin-top: 15px;
display: flex;
width: 75%;
text-align: center;
overflow: scroll;
/* animation: scroll 15s ease infinite; */

}
.photo-des div {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  animation: scroll 15s ease infinite;

  
}
.photo-des::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.photo-des::-webkit-scrollbar-thumb {
  background: transparent;
}
@keyframes scroll {

  0%,
  20% {
    transform: translateX(0);
    /* Show the first quote */
  }

  25%,
  45% {
    transform: translateX(-100%);
    /* Move to the second quote */
  }

  50%,
  70% {
    transform: translateX(-200%);
    /* Move to the third quote */
  }

  75%,
  95% {
    transform: translateX(-300%);
    /* Move to the fourth quote */
  }

  100% {
    transform: translateX(0);
    /* Repeat the animation */
  }
}

/* css for button under profile photo title */
.button {
  width: 90%;
  max-width: 600px;
}

.button a {

  margin-top: 22px;
  
  padding: 1em;
  border: 2px solid;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212121;
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  transition: all 0.5s;
}

/* css for button hovering affect */
div.button a:hover {
  transform: scale(1);
  background: #232323bb;
  /* background: white; */
  /* color: black; */
}

/* __________________________________ */
/* css for Who is GOHARSHAHI */
.section03 {
  min-height: 100vh;
  color: #212121;
  padding: 1rem 1rem;
  font-family: Georgia;
  text-align: center;
}
.section03 h2 {
  font-size: 3rem;
  padding: 2rem 0;
  text-align: center;
}
.section03 p {
  line-height: 30px;
  color: #424242;
}
.section03 li {
  line-height: 28px;
  border-left: 4px solid grey;
  box-sizing: border-box;
  padding-left: 1rem;
  margin: 2rem;
}
/* _______________________________ */
/* css for Quotes under profile photo */

.section2 {
  text-align: center;
  width: 100%;
}
.cont-animated-Quote {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 70px;
  overflow: hidden;




}

.animated-Quote {
  display: none;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  color: black;
  font-weight: bold;
}

.animated-Quote p {
  margin: 0;
}
.cont-animated-Quote .active2 {
  display: block;
  animation: slide 0.3s ease-out;
  text-align: center;
}

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* ________________________________ */
/* css for zikre e qlab popup */
#zikrqalb {
  display: none;
  position: fixed;
  z-index: 6;
  width: 80%;
  height: 500px;
  background: #eee;
  top: 80px;
  left: 10%;
}
#zikrqalb iframe {
  width: 100%;
  height: 100%;
}
#zikrqalb button {
  padding: 5px 1em;
  color: #fff;
  border: none;
  border-radius: 4px;
  background: #555;
  position: absolute;
  top: -6px;
  right: -6px;
}
.active {
  display: block !important;
}

/* css for picture card container */
div.pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 80px;
  box-sizing: border-box;
}

/*css for picture card   */
.pics .card {}

/* css for pics to make them fit into div box */
.pics div img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

/* css for popup container */
#popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 9;
  background: linen;
  border-radius: 5px;
}

.popupimg {
  width: 100%;
  height: 100%;
}

#popup .popup-close-btn {
  position: absolute;
  color: white;
  font-size: 2rem;
  left: 1rem;
  bottom: 40px;
}
.main {
  max-width: 900px;
  margin: 0 auto;
}
/* css for Biography */
.biography {
  box-sizing: border-box;
  padding: 0 1rem;
  min-height: 100vh;
  line-height: 30px;
}

.scrolltotop {
  position: fixed;
  background: yellow;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
}
/* footer footer css */
footer {
  background: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding: 2rem 1rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 30px;
}

footer .team {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 8px;
  gap: 1rem;
}
footer a {
  color: white;
  list-style: none;
}
footer .team a {
  color: white;
  list-style: none;
  text-decoration: none;
}
.link a {


  font-size: 2rem;
  margin: 1rem;

}
.linkprofile a {


  font-size: 1.3rem;
  margin: 1rem;

}


footer .team-img {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  gap: 7px;
  font-size: 14px;
}
footer .image-box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
footer .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
footer p {
  font-size: 0.8rem;
  line-height: 20px;
}
.lastItem {
  text-align: center;
  font-size: 0.8rem;
  color: grey;
}
/* ________________________________ */




#bookcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  gap: 3rem;
  color: #333;
}
center p {
  text-align: left;
  font-size: 0.8em;
  margin: 10px 30px;
}
center h1 {
  background-image: url('images/books.png');
  background-size: cover;
  background-position: center;
  height: 100px;
  color: #fff;
  text-shadow: 2px 2px #333;
  margin-top: 50px;
}
.book .language {
  position: absolute;
  top: -17px;
  right: 10px;
  color: #555;


}
.book {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  font-family: Georgia;
  box-sizing: border-box;
  color: #333;
  box-shadow: 2px 2px 5px 1px #aaaa;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px
  2px 6px 2px;
}

@media (min-width: 400px) {
  #bookcontainer {

    flex-direction: initial;
    overflow: scroll;

    flex-wrap: wrap;
  }
  .book {
    max-width: 700px;

  }
}
.book img {
  width: 100%;
  aspect-ratio: 9/13;
  border-radius: 12px;
  box-shadow: 2px 1px 6px #333;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.book .img {
  width: 200px;
  margin: 0 auto;
}
.book p {
  color: #333;
  margin: 5px 0;
  font-size: 10px;
}

.book button {
  width: 100%;
  background: #333;

  border: none;
  font-weight: bold;
  border-radius: 3px;
}

.book button a {
  box-sizing: border-box;
  display: block;
  padding: 5px 10px;
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 100%;
}

#bookreader {
  display: none;
  position: fixed;
  background: #ddd;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 55;
}